streamlit==1.29.0
pillow==10.1.0
numpy==1.26.2
PyMuPDF==1.23.8
opencv-python==4.8.1.78
easyocr==1.7.2
transformers==4.49.0
timm==1.0.15
pathlib==1.0.1
torch==2.1.1+cpu
torchvision==0.16.1+cpu
torchaudio==2.1.1+cpu
-f https://download.pytorch.org/whl/cpu
